<nav class="navbar navbar-expand-lg justify-content-between navbar-light bg-light px-5">
    <a class="navbar-brand" href="#">Ô'Delice || Administrateur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/admin/orders">Commandes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/createMenuItem">Ajouter Produit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/createCategory">Ajouter Catégorie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>