<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu Categories</title>
  </head>
  <body>
    <h1>Menu Categories</h1>

    <ul>
      <% menuCategories.forEach(category => { %>
      <li>
        <%= category.categoryName %>
        <a href="/menuCategories/<%= category.categoryId %>/edit">Edit</a>
        <a href="/menuCategories/<%= category.categoryId %>/delete">Delete</a>
      </li>
      <% }); %>
    </ul>

    <a href="/menuCategories/new">Add New Category</a>
  </body>
</html>
